<div class="gamezone" (keydown) = keyPress($event)>   
    <p>key: {{keyValue}}</p>
    <div >
        <li class="levelsButtons">
        <button type="submit" *ngFor="let level of levels" value = {{level}} (click) = onClickLevel($event.target.value)> x{{level}}</button>
        </li >
    </div>
    <div>
        <p>{{testval}}</p>
        <table>
            <tr *ngFor="let coord of val">
                <td  *ngModel="coord.point">
                  {{coord.point.value}}
                </td>
            </tr>

        </table> 
    </div>
</div>
