@import "gamestyle/case.scss";

.gamezone{
    width: 600;
    height: 600;
    border-style: dotted;
    border: 25px 25px 25px 25px;
    padding: 25px 25px 25px 25px;
}

.levelsButtons{
    width: 50;
    height: 15;
    box-sizing: 5px;
    margin-left: 20px;
    list-style-type: none
}
table{
    background-color: lightblue;
    border-style: solid;
    
}
.list_lines_ul{
    display: inline
}
.list_lines_li{
    display: inline-block;
//    width: $caselenght;
//    height: $caselenght;
    background-color: lightblue;
    box-sizing: 5px;
    padding: 20px 20px 20px 20px;
    list-style-type: none
}